.container{
    background-color: #374978;
}


.idcard {

    max-width: 1500px;
    margin: 50px;
    justify-content: center;   
}


.foto{
    max-width: 100%;
    height: auto;
}

.navbar{
    border:2px;
    border-color: #BDCEF9;
}

.navbar-nav {align-items: flex-end;} 